.markdown > h1,
.markdown > h2,
h1.markdown,
h2.markdown {
    line-height: 1;
    letter-spacing: -0.025em;
}

.markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            .permalink {
                opacity: 1;
            }
        }
    }

    a {
        color: var(--kro-primary);
    }
}

.permalink {
    opacity: 0;
    font-weight: 200;
    color: var(--kro-primary);
    position: absolute;
    font-size: 0.875em;
    transform: translateX(calc(-100% - 0.125em));
}

h1 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    margin-top: 1.5rem;
    line-height: 1.5;
    color: var(--kro-foreground-secondary);
}

.markdown > * + * {
    margin-top: 1.5rem;
}

pre {
    color: white;
    background: #272a33;
    border-radius: 0.25rem;
    padding: 1rem;
}

code[class*="language-"],
pre[class*="language-"] {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"] {
    padding: 1rem;
    overflow: auto;
}

code {
    background: var(--kro-background-secondary);
    border-radius: 0.125rem;
    padding: 0 0.25em;
}

pre code {
    background: transparent;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #2e3440;
}

.hljs,
.hljs-subst {
    color: #d8dee9;
}

.hljs-selector-tag {
    color: #81a1c1;
}

.hljs-selector-id {
    color: #8fbcbb;
    font-weight: bold;
}

.hljs-selector-class {
    color: #8fbcbb;
}

.hljs-selector-attr {
    color: #8fbcbb;
}

.hljs-selector-pseudo {
    color: #88c0d0;
}

.hljs-addition {
    background-color: rgba(163, 190, 140, 0.5);
}

.hljs-deletion {
    background-color: rgba(191, 97, 106, 0.5);
}

.hljs-built_in,
.hljs-type {
    color: #8fbcbb;
}

.hljs-class {
    color: #8fbcbb;
}

.hljs-function {
    color: #88c0d0;
}

.hljs-function > .hljs-title {
    color: #88c0d0;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol {
    color: #81a1c1;
}

.hljs-number {
    color: #b48ead;
}

.hljs-regexp {
    color: #ebcb8b;
}

.hljs-string {
    color: #a3be8c;
}

.hljs-title {
    color: #8fbcbb;
}

.hljs-params {
    color: #d8dee9;
}

.hljs-bullet {
    color: #81a1c1;
}

.hljs-code {
    color: #8fbcbb;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-formula {
    color: #8fbcbb;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link:hover {
    text-decoration: underline;
}

.hljs-quote {
    color: #4c566a;
}

.hljs-comment {
    color: #4c566a;
}

.hljs-doctag {
    color: #8fbcbb;
}

.hljs-meta,
.hljs-meta-keyword {
    color: #5e81ac;
}

.hljs-meta-string {
    color: #a3be8c;
}

.hljs-attr {
    color: #8fbcbb;
}

.hljs-attribute {
    color: #d8dee9;
}

.hljs-builtin-name {
    color: #81a1c1;
}

.hljs-name {
    color: #81a1c1;
}

.hljs-section {
    color: #88c0d0;
}

.hljs-tag {
    color: #81a1c1;
}

.hljs-variable {
    color: #d8dee9;
}

.hljs-template-variable {
    color: #d8dee9;
}

.hljs-template-tag {
    color: #5e81ac;
}

.abnf .hljs-attribute {
    color: #88c0d0;
}

.abnf .hljs-symbol {
    color: #ebcb8b;
}

.apache .hljs-attribute {
    color: #88c0d0;
}

.apache .hljs-section {
    color: #81a1c1;
}

.arduino .hljs-built_in {
    color: #88c0d0;
}

.aspectj .hljs-meta {
    color: #d08770;
}

.aspectj > .hljs-title {
    color: #88c0d0;
}

.bnf .hljs-attribute {
    color: #8fbcbb;
}

.clojure .hljs-name {
    color: #88c0d0;
}

.clojure .hljs-symbol {
    color: #ebcb8b;
}

.coq .hljs-built_in {
    color: #88c0d0;
}

.cpp .hljs-meta-string {
    color: #8fbcbb;
}

.css .hljs-built_in {
    color: #88c0d0;
}

.css .hljs-keyword {
    color: #d08770;
}

.diff .hljs-meta {
    color: #8fbcbb;
}

.ebnf .hljs-attribute {
    color: #8fbcbb;
}

.glsl .hljs-built_in {
    color: #88c0d0;
}

.groovy .hljs-meta:not(:first-child) {
    color: #d08770;
}

.haxe .hljs-meta {
    color: #d08770;
}

.java .hljs-meta {
    color: #d08770;
}

.ldif .hljs-attribute {
    color: #8fbcbb;
}

.lisp .hljs-name {
    color: #88c0d0;
}

.lua .hljs-built_in {
    color: #88c0d0;
}

.moonscript .hljs-built_in {
    color: #88c0d0;
}

.nginx .hljs-attribute {
    color: #88c0d0;
}

.nginx .hljs-section {
    color: #5e81ac;
}

.pf .hljs-built_in {
    color: #88c0d0;
}

.processing .hljs-built_in {
    color: #88c0d0;
}

.scss .hljs-keyword {
    color: #81a1c1;
}

.stylus .hljs-keyword {
    color: #81a1c1;
}

.swift .hljs-meta {
    color: #d08770;
}

.vim .hljs-built_in {
    color: #88c0d0;
    font-style: italic;
}

.yaml .hljs-meta {
    color: #d08770;
}
