* { box-sizing: border-box; }

:root {
    --kro-application-background: white;
    --kro-application-foreground: #2E3440;
    --kro-application-divider: #3B4252;

    --kro-application-accent: #8FBCBB;

    --kro-component-divider: var(--kro-application-divider);

    --kro-component-background: #E5E9F0;
    --kro-component-foreground:  #3B4252;
    --kro-component-accent: #5E81AC;
    --kro-component-accent-contrast: white;

    --kro-component-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;


    --kro-application-background: #2E3440;
    --kro-application-background-secondary: #434C5E;
    --kro-component-background-secondary: #434C5E;
    
    --kro-application-foreground: #ECEFF4;
    --kro-application-divider: #3B4252;

    --kro-component-background: #3B4252;
    --kro-component-foreground:  #D8DEE9;
    --kro-component-accent: #5E81AC;
    --kro-component-accent-contrast: white;


    --kro-component-success-background: #4caf50 ;
    --kro-component-success-foreground: white;

    --kro-component-warning-background: #fb8c00 ;
    --kro-component-warning-foreground: white;

    --kro-component-info-background: #2196f3;
    --kro-component-info-foreground: white;

    --kro-component-error-background: #ff5252;
    --kro-component-error-foreground: white;

}

html,
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;

    color: var(--kro-application-foreground);
    background: var(--kro-application-background);

    overflow-x: hidden;
}


::-webkit-scrollbar {
    background: rgba(0, 0, 0, .56);
}

::-webkit-scrollbar-thumb{
    background: var(--kro-application-background-secondary);
}