// Headings
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
}

// h1, h2, h3, h4, h5, h6 {
//     font-weight: 600;
//     line-height: 1.25;
// }

h1 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: .25rem;
    margin-top: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 1rem;
    // font-size: 1.65rem;
    // padding-bottom: .3rem;
    // border-bottom: 1px solid var(--kro-divider);
}

ul, ol {
    padding-left: 1.2em;
}

a {
    font-weight: 500;
    color: var(--kro-accent);
    text-decoration: none;
}

p a code {
    font-weight: 400;
    color: var(--kro-accent);
}

p, ul, ol {
    line-height: 1.7;
}

hr {
    border: 0;
    border-top: 1px solid var(--kro-divider);
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
}

tr {
    border-top: 1px solid var(--kro-divider);

    &:nth-child(2n) {
        background-color: var(--kro-background-secondary);
    }
}

th, td {
    border: 1px solid var(--kro-divider);
    padding: .6em 1em;
}

blockquote {
    font-size: 1rem;
    border-left: .2rem solid var(--kro-primary);
    margin: 1rem 0;
    padding: .25rem 0 .25rem 1rem;

    & > p {
        margin: 0;
    }
}



// Code

p code {
    // font-size: 1em;
    line-height: 0;
    // padding: 0;
}

code {
    padding: 0.15rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    background: var(--kro-background-secondary);
    border-radius: 0.25rem;

    font-family: 'Source Code Pro', monospace;

    width: -webkit-max-content;
}

pre {
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    margin: 0.85rem 0;
    background-color: #282c34;
    border-radius: 0.25rem;

    overflow: auto;

    max-width: 100%;
    width: 100%;

    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;
    
    code {
        font-size: 1rem;
        color: white;
        padding: 0;
        background: transparent;
        border-radius: 0;
    }
}

