$layers: (
  'content',
  'toolbar',
  'drawer',
  'menu',
  'dialog'
);

@mixin useLayer($name) {
  @for $i from 1 through length($layers) {
    @if nth($layers, $i) == $name {
      z-index: $i;
    }
  }
}